
<div class="card">
    <div class="card-header">
        Yeni Ürünler
        <a class="btn btn-sm btn-primary float-end" asp-controller="Products" asp-action="Create">Ürün Ekle</a>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Ürün Adı
                    </th>
                    <th class="text-end">
                        İşlemler
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td class="text-end">
                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                İşlemler
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Detay</a></li>
                                <li><a class="dropdown-item" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a></li>
                                <li><a class="dropdown-item" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>