@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}
<div class="card">
    <div class="card-header">
        Hata
    </div>
    <div class="card-body">
        <h5 class="card-title">bir Hata Oluştu</h5>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Anasayfaya Dön</a>
    </div>
</div>